  <!-- Background image -->

  <div class="text-center bg-image" style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
      height: 550px;
      background-attachment: fixed;

    " id="hero-banner">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);height: 550px">
      <div class="social-app">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
      </div>

      <div class="d-flex justify-content-center align-items-center h-100">
        <!-- <div class="text-white">
          <h1 class="mb-3">Heading</h1>
          <h4 class="mb-3">Subheading</h4>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a>
        </div> -->

        <div class="header-content">
          <h4 class="header-subtitle" >Hello, I am</h4>
          <h1 class="header-title">John Doe</h1>
          <h6 class="header-mono" >Frond end Designer | Developer</h6>
          <button class="btn btn-primary btn-outline-danger btn-rounded"><i class="ti-printer pr-2"></i>Print Resume</button>
      </div>
      </div>

    </div>
  </div>
  <!-- Background image -->

