<div class="text-center bg-image" style="
background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
height: 400px;
background-attachment: fixed;
background-repeat: no-repeat;
" id="hero-banner">
<div class="mask" style="background-color: rgba(0, 0, 0, 0.6);height: 400px">
<!-- <div class="social-app">
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-instagram"></a>
  <a href="#" class="fa fa-google"></a>
  <a href="#" class="fa fa-linkedin"></a>
</div> -->

  <div class="col-lg-8 p-5 mt-5">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4 header-subtitle" >Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <label for="exampleTextarea" class="form-label mt-4">Enter Message</label>
        <textarea class="form-control" id="exampleTextarea" rows="3" spellcheck="false" placeholder="Message *"></textarea>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </div>
      </form>
  </div>
  <div class="col-lg-4 mt-5 p-5">

    <div class="card text-white bg-dark mb-3" style="min-width: 30rem;min-height: 30rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h4 class="card-title">Dark card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      </div>

  </div>


<div class="d-flex justify-content-center align-items-center h-100">
  <!-- <div class="text-white">
    <h1 class="mb-3">Heading</h1>
    <h4 class="mb-3">Subheading</h4>
    <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a>
  </div> -->

  <div class="header-content">
    <h4 class="header-subtitle" >Hello, I am</h4>
    <h1 class="header-title">John Doe</h1>
    <h6 class="header-mono" >Frond end Designer | Developer</h6>
    <button class="btn btn-primary btn-outline-danger btn-rounded"><i class="ti-printer pr-2"></i>Print Resume</button>
</div>
</div>

</div>
</div>
